<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf8" />
</head>
<body ng-controller="PhoneListCtrl">
	검색: 
	<input type="text" ng-model="searchKeyword">
	
	정렬:
	<select ng-model="orderProperty">
		<option value="name" selected>이름</option>
		<option value="snippet">설명</option>
		<option value="no">번호</option>
	</select>
	
	<ul>
		<li ng-repeat="phone in phones | filter:searchKeyword | orderBy:orderProperty">
			번호 : {{phone.no}} <br/>
			이름 : {{phone.name}}<br/>
			설명 : {{phone.snippet}}
		</li>
	</ul>
	
	<p>
		현재 검색 키워드 : {{searchKeyword || '없음'}}<br/>
		현재 정렬 기준 : {{orderProperty}}
	</p>
	
	<form action="http://192.168.30.5:8080/onsen/login.do" method="post">
		<input type="text"  name="id">
		<input type="submit" value="submit"> 
	</form>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script>

function PhoneListCtrl($scope,$http) {
	
	$http.jsonp("http://192.168.30.5:8080/onsen/sample.json?callback=JSON_CALLBACK").then(function(data){
		console.log(data.data);
		$scope.phones = data.data;
	});
	
	$scope.orderProperty = "no";
}

</script>
</body>
</html>